html{
  height:100%;
}

body
{
  background: #202124;
    /*display: block;*/
  font-size: 14px;
  font-family: Roboto,arial,sans-serif;
  color: #bdc1c6;
  min-height: 100%;
  position: relative;
  
}

div.wrapper{
  min-height: 100%;
  margin: 0 auto -60px;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*body scrollkit??     height: 16px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    width: 16px; */


/* New add 10/24******* */
/*#main{
  display:flexbox;
  max-height:auto;
  max-width:auto;
  flex-wrap: wrap;
}*/

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: auto;
  min-height: 92px;

  /*display:flex;flex-direction:column;align-items:center; - newest attempt*/
  
  /*min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
  
  text-align:center;
    width:100%;
    height:auto;
    padding-top:130px;
    margin:0 auto;
    */
  }

#navbar {
  
  float: right;
  padding:8px;
  }


#navbar, a{

  color:white;
  padding: 5px;
  font-family: arial,sans-serif;
  text-decoration: none;
  padding-top: 12px;
  font-size: 13px; 

  }

logo {
  
height: 100%;
   
}

.google-logo {

  
  position: relative;
  margin-top:auto;
  padding-top:20px;
  bottom: 0;
  background-color: black;
    /*border:1px solid red;*/ 
  background:url(/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
  
  
  
  }

.images_logo {
  
  color: #4487f6;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: absolute;
  left: 215px;
  bottom: 0;
  white-space: nowrap;
 }
 
.search-bar {
  padding-left: 15px;
  color:#e8eaed;
  word-wrap: break-word;
  align-items: center;
  display: flex;
  z-index: 3;
  height: 44px;
  background: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  /* width:auto; */
  max-width: 565px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.form-buttons{
  text-align: center;
}

.submit-button, .lucky-button {
  height: 70px;
  padding-top: 19px;
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  
}

form{
  padding-top: 10px;
  
} /* Not needed added to search bar tag - check if affects images page */

.advanced_form{
  margin-top: 35px;
  padding-left: 35px;
  align-items: left;
  display: inline-flex;
  flex-direction: column;
  height: auto;
  width:fit-content;
}

.input-div{
  margin-bottom: 10px;
}

.input-div label {
  display: inline-block;
  width: 200px;
}

.input-div input{
  padding: 5px 10px;
  width: 570px;
}

.text-input{
  background: #202124;
  border: 1px solid #5f6368;
  color: #bdc1c6;
}

.adv-submit{
  /*display:flex;
  /*justify-content: flex-end;*/
  /*flex-wrap: wrap;*/
  background: #8ab4f8;
  border-color: #8ab4f8;
  color: #202124;
  float: right;
  margin: 10px 0px;
  padding: 0 12px;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
  line-height:22px;
  height:30px;
  min-width:120px
  
}

#adv-label {
  color: #f28b82;
  padding-top: 15px;
  padding-left: 2px;
  font-size: 20px;
  margin: 25px 35px;
}

#border{
  display:block;
  width: 100%;
  border-color: #000000;
  border-bottom: 1px solid #000000;
}

.adv-search-heading{
  color: #e8eaed;
  font-size: 16px;  
}

#adv-logo{
  height: 24px; 
  width: 74px; 
  padding-top: 14px; 
  padding-left:7px;  
}